/*

Layout
*/
html, body {
  background: #000;
  color: #ccc;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.25em;
  margin: 0;
  overflow: hidden;
  padding: 0;
}
    
  #head {
    background: #000;
    height: 40px;
    position: absolute;
    width: 100%;
    z-index: 2;
  }
    
    #head h1 {
      font-size: 14px;
      font-weight: normal;
      left: 50px;
      line-height: 40px;
      margin: 0;
      padding: 0;
      position: absolute;
    }
      
      #head h1 strong {
        color: #fff;
      }
      
    #head ul#links {
      font-size: 14px;
      line-height: 40px;
      margin: 0;
      padding: 0;
      position: absolute;
      right: 50px;
      width: 500px;
    }
    
      #head ul#links li {
        list-style: none;
        margin: 0;
        padding: 0;
      }
      
        #head ul#links li a {
          float: right;
          padding: 0 15px;
          text-decoration: none;
        }

  #stage {
    background: #111;
    height: 100%;
    overflow: hidden;
    position: absolute;
    width: 100%;
    z-index: 1;
  }

    .color {
      height: 100%;
      float: left;
      position: relative;
      text-align: center;
      z-index: 3;
    }
    
      .color strong {
        background: rgba(255, 255, 255, .6);
        font-size: 13px;
        right: 10px;
        position: absolute;
        text-transform: uppercase;
        color: #000;
        text-shadow: 0 0 3px #fff;
        padding: 0 5px;
        top: 75px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
      }
      
      .color input {
        display: none;
      }
      
      .color ul {
        display: none;
        font-size: 12px;
        height: 20px;
        margin: 0;
        padding: 0;
        position: absolute;
        right: 10px;
        top: 50px;
        width: 150px;
      }
        
        .color ul li {
          list-style: none;
          margin: 0;
          padding: 0;
        }
        
        .color ul li a {
          background: rgba(0, 0, 0, .6);
          float: right;
          font-weight: bold;
          height: 20px;
          line-height: 20px;
          margin-left: 5px;
          padding: 0 7px;
          -moz-border-radius: 3px;
          -webkit-border-radius: 3px;
/*          width: 20px;*/
          text-decoration: none;
        }
        
          .color a[href='#Remove'] {
          
          }
      
      .color:hover ul {
        display: block;
      }
      
      .color a:hover {
        background: #000;
        color: #fff;
      }
      
    
  #content {
    background: rgba(0, 0, 0, .7);
    color: #999;
    left: 22%;
    margin: auto;
    position: absolute;
    top: 200px;
    width: 58%;
    z-index: 3;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
  }
    
    .margin {
      margin: 20px;
    }
  
    a#close {
      position: absolute;
      right: 5px;
      text-decoration: none;
      top: 5px;
    }

/*

Type
*/
  
  a, #content a {
    color: #fff;
  }

    a:hover, #content a:hover {
      background: #fff;
      color: #000;
    }
  
  #content strong {
    color: #fff;
  }

  #content h1, #content h2, #content h3, #content h4, #content h5 {
    color: #fff;
    margin-top: 1.5em;
  }
  
  #content li {
    margin-top: .5em;
  }

/*

Color Picker
*/
#colorpicker {
  background: rgba(0, 0, 0, .9);
  border: 1px solid #000;
  font-size: 10px;
  padding: 5px;
  position: absolute;
  right: 0;
  top: 40px;
  width: 430px;
  z-index: 1;
  -moz-border-radius: 0 0 5px 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
}
  
  img[src$='mappoint.gif'], img[src$='rangearrows.gif'] {
    z-index: 2;
  }